@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --color-brand: #123456;
}

.btn-brand {
  background-color: var(--color-brand);
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

:root {
  --background-rgb: 214, 219, 220;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}
